# Ignore all compiled Java classes
*.class

# =========================
# Maven
# =========================
target/

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml
*.classpath
*.project
.settings/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
